.MainLayout {
  background-color: #070707;
  display: flex;
  height: 100vh;
  padding: 2rem;
  width: 100vw;

  .Container {
    border-radius: 1rem;
    margin: auto;
    position: relative;
    max-width: 1366px;
    max-height: 768px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem;

    background-image: url("/home-background.png");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2rem rgba(214, 183, 125, 0.25);
  }

  .MainContent {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: auto auto;
    min-width: min(80%, 20rem);
    max-width: min(100%, 30rem);
    padding: 2rem;
    overflow: hidden;

    background: rgba(214, 183, 125, 0.25);
    box-shadow: 0 8px 32px 0 rgba(214, 183, 125, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

@media screen and (max-width: 400px) {
  .MainLayout {
    padding: 0;
    .Container {
      border-radius: 0;
    }
  }
}
