.Button {
  background-color: #11121c;
  border-radius: 1rem;
  box-shadow: 0 0 8px #fff;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.Button:hover {
  background-color: #fff;
  box-shadow: 0 0 8px #e7431e;
  color: #e7431e;
  font-weight: bold;
}
