.Title {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #e7431e;
  // margin-bottom: 0.5;
}

.Title_2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #e7431e;
  // margin-bottom: 0.1rem;
}

.Title_3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #e7431e;
  // margin-bottom: 1rem;
}
