.Title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #e7431e;
}

.Title_2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #e7431e;
}

.Label {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #e7431e;
}

.Text {
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 1rem rgba(214, 183, 125, 1);
}
